.box-large {
    width: 840px;
    height: 300px;
    /* top: 50px; */
    /* margin-left: 400px;
    margin-top: 50px; */
    /* float: left; */
    position: relative;
    overflow: hidden;
   
}
.box-large img {
    width: 840px;
    height: 300px;
    position: absolute;
    transition: all .8s;
    /* transform: perspective(1200px) rotateY(0deg); */
    transform: scale(1.1);
}
.box-large .dark{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0;
}
.box-large .light1 {
    width: 900px;
    height: 50px;
    background-color: white;
    position: absolute;
    transform: rotate(45deg);
    top: -80px;
    right: -500px;
    transition: all 2s;
    opacity: 0.4;
}

.box-large:hover .light1 {
    top: 430px;
    right: 500px;
}

.box-large:hover img {
    transform: scale(0.99);
    /* filter:contrast(0.5); */

}
.box-large:hover .dark{
    opacity: 0.2;
}
